{% extends "layout.html" %}
{% block content %}
    <h1>Welcome!</h1>

    <div class="row marketing">
        <div>
            <form action="." method="post" name="vote">
                {% for key, value in survey.questions.items() %}
                    <h4>Question {{ key }}</h4>
                    <p>{{ survey.questions[key].text }}</p>
                    {% if value['type'] == 'mult' %}
                        <div class="checkbox">
                            {% for ans in value['variants'] %}
                                <label>
                                    <input type="checkbox" name="{{ ans }}"
                                           value="{{ ans }}" required> {{ ans }}
                                </label>
                            {% endfor %}
                        </div>
                    {% elif value['type'] == 'num' %}
                        <div class="range">

                            <input type="range" min="{{ value.min }}" max="{{ value.max }}" step="{{ value.step }}"
                                   value="{{ value.min }}, {{ value.max }}" name="{{ key }}" required> (from 1 to 10)
                        </div>
                    {% elif value['type'] == 'open' %}
                        <div class="text_field">
                            <input type="text" name="{{ key }}" required>
                        </div>
                    {% endif %}
                {% endfor %}
                </br>
                <input class="btn btn-success" type="submit">
            </form>
        </div>
    </div>
{% endblock %}