<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cloud computing BAS team</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="#">Log In</a>
                </ul>
            </nav>
            <h3 class="text-muted">CC Questionnaire</h3>
        </div>

        <div class="jumbotron">
            <h1>Welcome!</h1>
            <p class="lead"></p>

        </div>

        <div class="row marketing">
            <div>
                <h4>Question 1</h4>
                <p>What type of databases are you planning to connect to the system?</p>

                <h4>Question 2</h4>
                <p>Please assign importance of data reliability for the system</p>

                <h4>Question 3</h4>
                <p>Please assign importance of system ability to process data in real-time</p>
            </div>

            <div>
                <h4>Question 4</h4>
                <p>Please assign importance of system ability to process data in real-time</p>

                <h4>Question 5</h4>
                <p>Please assign importance of system ability to process data in real-time</p>

                <h4>Question 6</h4>
                <p>Have you found this survey interesting?</p>
            </div>
            <div>
                <p><a class="btn btn-lg btn-success" href="results" role="button">Check results here :)</a>
                </p>
            </div>
        </div>

        <footer class="footer">
            <p>&copy; BAS team 2016</p>
        </footer>

    </div>
</body>

</html>