<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cloud computing BAS team</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="#">Log In</a>
                </ul>
            </nav>
            <h3 class="text-muted">CC Questionnaire</h3>
        </div>

        <div class="jumbotron">
            <h1>Welcome!</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="results" role="button">Check results here :)</a>
            </p>
        </div>

        <div class="row marketing">
            <div>
                {% for key, value in survey.questions.items() %}
                <h4>Question {{ key }}</h4>
                <p>{{ survey.questions[key].text }}</p>
                {% if value['type'] == 'mult' %}
                <div class="checkbox">
                    {% for ans in value['variants'] %}
                        <label>
                            <input type="checkbox" name="{{ ans }}"
                                   value="checked"> {{ ans }}
                        </label>
                    {% endfor %}
                {%  elif value['type'] == 'num' %}
                    {% for ans in range(value.min, value.max, value.step)  %}
                        <label>
                            <input type="checkbox" name="{{ ans }}"
                                   value="checked"> {{ ans }}
                        </label>
                    {% endfor %}
                {%  elif value['type'] == 'open' %}
                        <input type="text" name="Answer">
                {% endif %}
            {%  endfor %}

{#                <h4>Question 2</h4>#}
{#                <p>{{survey.questions[1].text}}</p>#}
{##}
{#                <h4>Question 3</h4>#}
{#                <p>{{survey.questions[2].text}}</p>#}
{##}
{#                <h4>Question 4</h4>#}
{#                <p>{{survey.questions[3].text}}</p>#}
{##}
{#                <h4>Question 5</h4>#}
{#                <p>{{survey.questions[4].text}}</p>#}

            </div>
        </div>

        <footer class="footer">
            <p>&copy; BAS team 2016</p>
        </footer>

    </div>
</body>

</html>