<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey</title>
    <script type=text/javascript src="{{
      url_for('static', filename='jquery.js') }}"></script>
    <script type=text/javascript src="{{
      url_for('static', filename='model.js') }}"></script>
    <script type=text/javascript src="{{
      url_for('static', filename='Chart.min.js') }}"></script>
    <script type=text/javascript src="{{
            url_for('static', filename='jquery.min.js') }}"></script>
    <script type="text/css" src="{{
            url_for('static', filename="bootstrap.min.css") }}"></script>
    <script type="text/css" src="{{
            url_for('static', filename="jumbotron-narrow.css") }}"></script>
</head>
<body>
<div class="container">
    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="/">Home</a>
                </li>
                <li role="presentation"><a class="btn btn-warning" href="/statistics">Results</a>
                </li>
                <li role="presentation"><a href="/login">Log In</a>
            </ul>
        </nav>
        <h3 class="text-muted">CC Questionnaire</h3>
    </div>

    {% block content %}{% endblock %}

    <footer class="footer">
        <p>&copy; BAS team 2016</p>
    </footer>

</div>

</body>
</html>