{% extends "layout.html" %}
{% block content %}
<div>
    <p>
        <h2>
            {% if lang == 'en' %} Please enter username and password to access survey statistics
            {% elif lang == 'ru' %} Введите логин и пароль
            {% endif %}
        </h2>
    </p>
    <form id="loginform" action="/login" method="post">
        <input type="text" name="user" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input class="btn btn-success" type="submit"
               value=
                        {% if lang == 'en' %} Login
                        {% elif lang == 'ru' %} Войти
                        {% endif %}
        >
    </form>
</div>
{% endblock %}