{% extends "layout.html" %}
{% block content %}
    <div>
        {% for rec in stat %}
            <h4>Group {{ rec['name'] }}</h4>
            <div>
                <ul>
                    {% for el in rec['result'] %}
                        <li>Question {{ rec['result'].index(el) }}: {{ el }}</li>
                    {% endfor %}
                </ul>
                <span> Total: {{ rec['total'] }}. Surveyed: {{ rec['surveyed'] }}</span>

            </div>
            <br>
        {% endfor %}
    </div>

{% endblock %}