{% extends "layout.html" %}
{% block content %}
    <div>
        {% for key, item in res.items() %}
            <p>
                {{ quest[key].text }} {#  : {{ item['answer'] }}#}
            </p>
            <div>
            <canvas id="chart_{{ key }}" width="600" height="300"></canvas>
            <script> // bar chart data
            {% if quest[key].type in ['mult', 'num'] %}
                var barQ = {
                    labels: [{% for lbl in res[key]['labels'] %}"{{ lbl }}", {% endfor %}],
                    datasets: [{
                        fillColor: "rgba(151,187,205,0.2)",
                        strokeColor: "rgba(151,187,205,1)",
                        pointColor: "rgba(151,187,205,1)",
                        data: [{% for val in res[key]['vals'] %}"{{ val }}", {% endfor %}]
                    }]
                }
                // get bar chart canvas
                var mychart_{{ key }} = document.getElementById("chart_{{ key }}").getContext("2d");
                steps = 10
                max = 10 // draw bar chart
                new Chart(mychart_{{ key }}).Bar(barQ, {
                    scaleOverride: true,
                    scaleSteps: steps,
                    scaleStepWidth: Math.ceil(max / steps),
                    scaleStartValue: 0,
                    scaleShowVerticalLines: true,
                    scaleShowGridLines: true,
                    barShowStroke: true,
                    scaleShowLabels: true
                });
                    {% if quest[key].type in ['num']  %}

                        document.write("<br>Average value is ")
                        document.write({{  res[key]['avg'] }})
                    {% endif %}
                {% elif quest[key].type in ['open'] %}
                {% set counter = 1 -%}
                         document.write("<p>")
                    {% for ans in res[key]['open'] %}
                        document.write("{{ counter + loop.index0 }}. {{ ans }}")
                        document.write("<br>")
                    {% endfor %}
            {% endif %}
            </script>
        {% endfor %}
        </div>
    </div>

{% endblock %}